{
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "auto",
	"jsxSingleQuote": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"useTabs": true
}
