.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: var(--z-modal);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.1rem;
	transition: 0.3s;
}

.modal__content {
	max-width: 350px;
	max-height: 100%;
	overflow-y: auto;
	position: relative;
	background-color: var(--container-color);
	padding: 4.5rem 1.5rem 1.5rem;
	border-radius: 1.5rem;
}

.modal__close {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	cursor: pointer;
	width: 24px;
}

.modal__grid {
	grid-template-columns: repeat(1, 1fr);
}

.modal__title,
.modal__description {
	text-align: center;
}

.modal__title {
	font-size: var(--h3-font-size);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-1);
}

.modal__description {
	font-size: var(--small-font-size);
	padding: 0 3.5rem;
	margin-bottom: var(--mb-2);
}

.modal__button {
	display: block;
	margin: 0 auto;
}

/* for medium devices */
@media screen and (min-width: 768px) {
	.modal__content {
		max-width: 500px;
		padding: 4.5rem 2.5rem 2.5rem;
	}

	.modal__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
