:root {
	/* Colors */
	/* Color mode HSL(hue, saturation, lightness) */
	--hue: 0;
	--sat: 0%;
	--title-color: hsl(var(--hue), var(--sat), 20%);
	--title-color-dark: hsl(var(--hue), var(--sat), 0%);
	--text-color: hsl(var(--hue), var(--sat), 46%);
	--body-color: hsl(var(--hue), var(--sat), 98%);
	--container-color: #fff;

	/* font and typography */
	--font-family: 'Poppins', sans-serif;

	/* .5rem = 8px | 1rem = 16px */
	--big-font-size: 2.75rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.35rem;
	--h3-font-size: 1.25rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;
	--tiny-font-size: 0.625rem;

	/* font weight */
	--font-normal: 400;
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;

	/* margin bottom */
	/* .5rem = 8px | 1rem = 16px */
	--mb-0-25: 0.25rem;
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;
	--mb-4: 4rem;

	/* z index */
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/* Response typography */
@media screen and (min-width: 768px) {
	:root {
		/* .5rem = 8px | 1rem = 16px */
		--big-font-size: 3.5rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
		--tiny-font-size: 0.625rem;
	}
}

/* base */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-family);
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-color: var(--body-color);
	color: var(--text-color);
	font-family: var(--font-family);
	font-size: var(--normal-font-size);
	font-weight: var(--font-normal);
}

ul {
	list-style: none;
}

input {
	font-family: var(--font-family);
	border: none;
	outline: none;
}

textarea {
	border: 1px solid var(--text-color);
	font-family: var(--font-family);
	resize: none;
}

input:focus,
textarea:focus {
	outline: none;
}

select {
	outline: none;
	background: transparent;
	border: none;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: var(--title-color-dark);
}

button {
	cursor: pointer;
	border: none;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* reusable CSS classes */
.section {
	padding: 2rem 0 4rem;
}

.section__title {
	font-size: var(--h1-font-size);
	color: var(--title-color);
}

.section__subtitle {
	display: block;
	font-size: var(--small-font-size);
	margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
	text-align: center;
}

.min--100 {
	min-height: 100vh;
	min-width: 100vw;
}

/* layout */
.container {
	margin: 0 var(--mb-1);
}

.flex {
	display: flex;
}

.flex--column {
	flex-direction: column;
}

.grid {
	display: grid;
}

.grid--columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.place--center {
	place-content: center;
}

.justify-i-center {
	justify-items: center;
}

.text--center {
	text-align: center;
}

.mb-2 {
	margin-bottom: var(--mb-2);
}

.mt-1 {
	margin-top: var(--mb-1);
}

.mt-6 {
	margin-top: 6rem;
}

/* buttons */
.button {
	display: inline-block;
	background-color: var(--title-color);
	color: var(--container-color);
	padding: 1.25rem 2rem;
	border-radius: 1rem;
	transition: all 0.3s;
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	cursor: pointer;
	text-align: center;
}

.button:hover {
	background-color: var(--title-color-dark);
}

.button__icon {
	margin-left: var(--mb-0-5);
}

.button--flex {
	display: inline-flex;
	align-items: center;
}

/* form */
.form {
	margin: 0 auto;
	max-width: 320px;
}

.form__input-container {
	justify-content: center;
	min-width: 50%;
}

.form__input {
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	margin: var(--mb-0-25) 0 var(--mb-0-5);
	padding: 0.75rem 0.5rem;
}

.form__input-lg {
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	margin: var(--mb-0-25) 0 var(--mb-2);
	padding: 0.75rem 1rem;
}

.form__textarea {
	margin-bottom: 1rem;
}

/* for medium devices */
@media screen and (min-width: 768px) {
	.section {
		padding: 6rem 0 2rem;
	}

	.section__subtitle {
		margin-bottom: var(--mb-4);
	}

	.container {
		max-width: 1024px;
		margin: 0 var(--mb-1-5);
	}
}

/* for large devices */
@media screen and (min-width: 1024px) {
	.container {
		max-width: 1024px;
		margin: 0 auto;
	}
}
